// $oil         : #333333;
// $monsoon     : #777777;
// $black   	: #212121;

// Body 1 Index

.bodya{
	background-color:burlywood;
	font-size:100%;
}

.personal{
	color:black;
	font-family:"Times New Roman", Times, serif;
	font-size: 1.4em;
}

// Body 2 galvanize

.bodyb{
	background-color:#9E9E9E;
	font-size:100%;
}

.abouttitle {
	font-family: "Times New Roman", Times, serif;
}

.aboutme {
	font-family: Arial, Helvetica, sans-serif;
	color: #F5F5F5;
	padding-bottom: 2%;
}

.aboutpara {
	font-family: Arial, Helvetica, sans-serif;
}

// All Pages

h1{
	font-size:3em;
	color:$black;
}

.social{
	padding-top:5%;
	padding-bottom:5%;
}

p {
	color:#F5F5F5;
}


span{
	min-width:100%;
	color:#607D8B;
}

.hideMe {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FF6103;
  margin-left: 100px;
}